body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px; 
}

li {
    border: 1px solid black;
    padding: 10px;
    margin: 15px;
    background-color: blueviolet;
    box-shadow: 10px 10px;
}

ul li > ul {
    display: none;
}

ul li:hover > ul {
    display: block;
}